@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.ab{position: absolute;}
.re{position: relative;}
.font1{font-family: 'Indie Flower', cursive; color:#fff; font-size: 2.5rem; }
.font2{font-family: 'Open Sans', sans-serif;  font-size:1.2rem;}
.font3{font-family: 'Libre Baskerville', serif;  font-size:1.5rem; padding:0.2rem 0; font-weight: 500;}
body{background-color:#8ce0cd;}




.bg{width:100%; height:100%;background-image: url("../images/guide-line.png"); background-size: cover;}
.nav{width:100%; }
.robot{width:180rem; height:100%; padding-top:15%; top:0; left:50%; transform: translateX(-50%);overflow:hidden;}



.logo{width:13rem; top:5%; left:10%;}
.palettes{top:15%; left:11%; z-index:111111;}
.palette{float:left; width:3rem; height:3rem; border-radius: 50px; margin-right:2rem; border:0.3rem solid#fff; cursor: pointer;}
.p-red{background-color:rgb(251,70,121);}
.p-yellow{background-color:#ff8b00}
.p-blue{background-color:#5570bb;}
/* head */

.head{width:29rem; height:21.5rem;  background:rgb(251,70,121); margin:0 auto 0; box-sizing:border-box; border-bottom:0.625em solid rgb(225,29,72); border-radius: 10px;
 z-index:11111;}
    .hat{width:14em; height:6.5em; border-top-left-radius:300px; border-top-right-radius:300px; background:rgb(92, 80, 81); margin:0 auto; bottom:100%; left:50%;transform: translateX(-50%);z-index:1111; }

    .about{top:-20%; right:-25%;}
   


    .ear-left{width:3.5em; height:7.5em;background:rgb(106,76,110); top:32%;  left:-13%; z-index: 1111;}

    .design{bottom:10%; left:-48%;}

    .ear-right{width:3.5em; height:7.5em; background:rgb(106,76,110); top:32%;  right:-13%; z-index: 1111;}
    .ear-1-left{width:0.6em; height:4.8em; background-color:rgb(65,42,28); top:38%;  left:-15%; z-index: 1111;}
    .ear-1-right{width:0.6em; height:4.8em; background-color:rgb(65,42,28); top:38%; right:-15%;  z-index: 1111;}
   /*눈*/
    .eye-1{width:6.3em; height:6.3em; border-radius:180px; background:#d1d1d1;top:24%;left:18%; border:0.5em solid rgb(65,42,28);}
    .eye-2{width:6.3em; height:6.3em; border-radius:180px; background:#d1d1d1; top:24%; right:18%; border:0.5em solid rgb(65,42,28);}   
     .eye-a{width:4em; height:4em; border-radius:90px; background:#222;margin:12.5% auto; } 

   
    
     .eye-point{background:#fff; width:0.8em; height:0.8em; border-radius: 50px;}
    .mouse{width:18em; height:4em; bottom:14%; left:50%; transform: translateX(-50%); padding:0.6em; background-color: rgb(97, 52, 46);  border-bottom:2px solid rgb(53, 51, 51);border-right:1px solid rgb(53, 51, 51);}
    .mouse li{ margin-left:0.26em; width:1.43em; height:100%; float:left; background:rgb(255, 255, 255);}
    .mouse li:first-child{margin-left:0; } 
    /***목***/
    .neck{width:10rem; height:2rem;background-color:rgb(106,76,110);margin:0.3em auto 0;}


    /*body*/
    .b1{width:29rem; height:28.5rem; background-color:rgb(251,70,121);  border-radius:10px; border-bottom:0.3em solid rgb(225,29,72); margin: 0 auto;}

    /*팔*/
    .arm01{width:5.8em; height:14em; background:rgb(251,70,121); left:-26%;border-radius:10px; border-top-left-radius:20px;  border-bottom:0.625em solid rgb(225,29,72);}
    .arm02{width:5.8em; height:14em; background:rgb(251,70,121); right:-26%;; border-radius:5px; border-top-right-radius:20px; border-bottom:0.625em solid rgb(225,29,72);}

    .web{top:-15%; right:-50%; }

    .elbow01{width:5.8em; height:0.8em;  left:-26%; bottom:46%; }
    .elbow02{width:5.8em; height:0.8em;  right:-26%; bottom:46%; }
    .elbow01 li:first-child, .elbow01 li:last-child, .elbow02 li:first-child, .elbow02 li:last-child{width:0.7em; height:0.8em; background-color:#333; float:left;}
    .elbow01 li:nth-child(2), .elbow02 li:nth-child(2){width:4.2em; height:0.8em; background-color:#555; margin:0 0.1em; float:left;}
    .arm_bot01{width:5.8em; height:14em; background:rgb(251,70,121); left:-26%; top:55%; border-radius:10px;  border-bottom:0.625em solid rgb(225,29,72);}
    .arm_bot02{width:5.8em; height:14em; background:rgb(251,70,121); right:-26%; top:55%; border-radius:10px;  border-bottom:0.625em solid rgb(225,29,72); z-index: 1111;}
    .link01{width:1.5em; height:4.5em; background:rgb(106,76,110);top:2%; left:-6%;}
    .link02{width:1.5em; height:4.5em; background:rgb(106,76,110);top:2%; right:-6%;}
    .hand-neck01{width:4.5em; height:1.5em; background-color:rgb(106,76,110); left:50%;transform: translateX(-50%); top:105%;}
    .hand-neck02{width:4.5em; height:1.5em; background-color:rgb(106,76,110); left:50%;transform: translateX(-50%); top:105%;}
    .hand01{width:5.8em; height:3em; border-top-left-radius:80px; border-top-right-radius:80px; background-color:rgb(65,42,28); left:50%;transform: translateX(-50%);top:120%;}
    .hand02{width:5.8em; height:3em; border-top-left-radius:80px; border-top-right-radius:80px; background-color:rgb(65,42,28);left:50%;transform: translateX(-50%); top:118%;}
    .hand-blank{width:2.9em; height:2.9em;border-top-left-radius:40px; border-top-right-radius:40px; background-color:#8ce0cd;margin:25% auto;}

    /*가슴*/
    .little-btn{width:50%; height:50%; right:-95%; top:10%;}
    .lit-btn{width:30%; height:12%; border-radius:40px; background-color:#ffd800; border:1px solid rgb(192, 93, 0); right:10%;}
    .lit-btn:nth-child(1){top:14%;}
    .lit-btn:nth-child(2){top:28%;}
    .lit-btn:nth-child(3){top:42%;}
    .part1{width:70%; height:35%; border:1px solid rgb(228, 110, 155); top:5%;  left:50%;  transform: translateX(-50%);}
    .chest{width:90%;height:90%;background-color:rgb(118, 128, 136); border-bottom:0.3em solid rgb(70, 70, 70); border-right:0.3em solid rgb(68, 68, 68); left:50%;  transform: translateX(-50%); top:5%;  border-top:0.2em solid rgb(210,214,249);border-left:0.2em solid rgb(200,204,239);}
    .btn{width:1.5em; height:0.8em;  }
    .bar3{background-color: rgb(148,55,146); top:10%; left:-50%;transform: translateX(-50%); border:0.2em solid rgb(65,42,28);} 
    .bar2{background-color:rgb(215,232,30); top:80%; left:-50%; transform: translateX(-50%);border:0.2em solid rgb(65,42,28);} 
    .bar1{background-color:#00d5fb; top:40%; left:50%;transform: translateX(-50%); border:0.2em solid rgb(65,42,28);}
    
    .button-rec{ width:30%; height:80%; overflow:hidden; float:left; margin:5%;}
    .button-rec li{ width:100%; height:25%; background-color:#ffd800; border-top:0.3em solid rgb(70, 70, 70); border-left:0.2em solid rgb(71, 71, 71); border-bottom:0.2em solid rgb(200,204,239);border-right:0.2em solid rgb(200,204,239);}
    .button-rec li:first-child{background-color: rgb(225,29,72);}
    .button-line{ width:40%; height:60%; overflow:hidden; float:right; margin:10% 9% 5%;}
    .button-line li{float: left; margin-left:10%; height:100%; border-top:0.3em solid rgb(63, 63, 63); border-left:0.2em solid rgb(59, 59, 59); border-bottom:0.2em solid rgb(200,204,239);border-right:0.2em solid rgb(200,204,239);}
    .part2{width:44%; height:35%; border:1px solid rgb(228, 110, 155); top:45%;  left:15%; }
    .part3{width:24%; height:35%; border:1px solid rgb(228, 110, 155); top:45%; right:15%; }
    .part2-1{width:90%; height:90%; border-bottom:0.3em solid rgb(250,30,80);margin:5% auto; border-right:0.2em solid rgb(250,30,70); background-color:rgb(255,90,131);
        border-top:0.1em solid rgb(250,180,200); border-left:0.1em solid rgb(250,180,200);}
    .part2-1 p{font-weight: bold; color:#fff;font-size:1.4em; text-align: center; line-height:2em; }
    .part3-1{width:90%; height:90%; border-top:0.3em solid rgb(250,20,80);margin:5% auto; border-left:0.2em solid rgb(250,30,80); background-color:rgb(255,90,131);border-bottom:0.1em solid rgb(250,180,200); border-right:0.1em solid rgb(250,180,200);}
    .screw1{width:10%; height:7%; top:5%; left:5%; background-color: #888; border-radius: 50px; border-right:1px solid#333; border-left:1px solid#fff;}
    .screw2{width:10%; height:7%; top:5%; right:5%; background-color: #888; border-radius: 50px;  border-right:1px solid#333;border-left:1px solid#fff; }
    .screw3{width:10%; height:7%; bottom:5%; left:5%; background-color: #888; border-radius: 50px;  border-right:1px solid#333; border-left:1px solid#fff;}
    .screw4{width:10%; height:7%; bottom:5%; right:5%; background-color: #888; border-radius: 50px;  border-right:1px solid#333; border-left:1px solid#fff;}
    

    /*기어*/
    .hat-cont{display:none; z-index:111;}
    .gears{height:6.5em;width:12em;  left:50%;transform: translateX(-50%); bottom:100%;}
    .hat-cont .gear1{left:50%;transform: translateX(-50%);top:2%;}
    .hat-cont .gear2{left:50%;transform: translateX(-50%);top:2%;}
    .hat-cont .gear3{left:27%;bottom:1%;}
    .hat-cont .gear4{left:45%;top:5%;}

    .ear-gears-L{top:32%;  left:-52%; z-index: 111; overflow:hidden; width:14.5em; height:7.5em;}
    .ear-gears-R{top:32%;  right:-51%; z-index: 111; overflow:hidden; width:14.5em;
        height:7.5em}
    .ear-gear1{top:0; left:100%;}
    .ear-gear2{top:0; right:100%;}

    .elbow-gears, .elbow-move{top:56%; right:-24%; z-index: 111;}
    .elbow-gear{top:56%; right:-24%; z-index: 11;}

        /*컨텐츠*/
        .content01{width:90em; top:-20%; left:120%; display:none;}
        .content01 > li{float:left;}
        .content01 > li:first-child{background-color:#fff; color:#333; padding:1em; line-height:2em;}
        .content01 > li:last-child{background-color:rgb(225,29,72);; color:#fff; padding:0.5em 1em; cursor: pointer;}
        .button{background-color:#aaa; padding:0.3em 1em; float:right;  font-size: 1em; margin-top:1em;}


        .content02{width:40em; top:120%; left:-55%; display:none;}
        .content02 li{float:left;}
        .content02 li:first-child{background-color:#fff; color:#333; padding:1em; line-height:2em;}
        .content02 li:last-child{background-color:rgb(225,29,72);; color:#fff; padding:0.5em 1em; cursor: pointer;}

        .content03{top:100%; right:-90%; display:none;}
        .content03 li{float:left;}
        .content03 li:first-child{background-color:#fff; color:#333; padding:1em; line-height:2em;}
        .content03 li:last-child{background-color:rgb(225,29,72); color:#fff; padding:0.5em 1em; cursor: pointer;}


/***** color*****/
.B-bg-color{background-color:#e1e1e1;}
.B-main-color{background-color:#8c92a2; border-bottom:0.625em solid#596784;}
.B-sub-color{background-color:#2f2f31;}
.B-line-color{background-color:#425381}
.B-eye-color{border:0.5rem solid#425381;} 
.B-part-color{border:1px solid #e1e1e1;}
.B-part-color-a{background-color:#a6acbb; border-bottom:0.3em solid #596784;margin:5% auto; border-right:0.2em solid#425381; border-top:0.1em solid #e1e1e1;; border-left:0.1em solid #e1e1e1;}
.B-part-color-b{background-color:#a6acbb; border-top:0.3em solid #596784;margin:5% auto; border-left:0.2em solid#425381; border-bottom:0.1em solid #e1e1e1;; border-right:0.1em solid #e1e1e1;}

.Y-bg-color{background-color:	#ecdb84;}
.Y-main-color{background-color:#ee8a22; border-bottom:0.625em solid#8f2f20;}
.Y-sub-color{background-color:#be3e2b}
.Y-line-color{background-color:	#122f3d}
.Y-eye-color{border:0.5rem solid	#122f3d} 
.Y-part-color{border:1px solid #e1e1e1;}
.Y-chest-color{background-color:#be3e2b; border-bottom:0.3em solid #8f2f20; border-right:0.3em solid #8f2f20;;border-top:0.2em solid #ecdb84;border-left:0.2em solid #ecdb84;}
.Y-part-color-a{background-color:#fc9f3c; border-bottom:0.3em solid #be3e2b;margin:5% auto; border-right:0.2em solid#be3e2b; border-top:0.1em solid #e1e1e1;; border-left:0.1em solid #e1e1e1;}
.Y-part-color-b{background-color:#fc9f3c; border-top:0.3em solid #be3e2b;margin:5% auto; border-left:0.2em solid#be3e2b; border-bottom:0.1em solid #e1e1e1;; border-right:0.1em solid #e1e1e1;}

/***애니메이션***/
   .arm_ani{animation-name:armAni; transform-origin:top right;
    animation-direction: normal; animation-fill-mode: forwards; animation-duration:1s;}
   .arm_ani_back{animation-name:armAniback; transform-origin:top right;
    animation-direction: normal; animation-fill-mode: forwards; animation-duration:1s;}
    .elbow_ani{animation-name:elbowAni; animation-direction: normal; animation-fill-mode: forwards; animation-duration:3s;}
    .elbow_ani_back{animation-name:elbowAniback; animation-direction: normal; animation-fill-mode: forwards; animation-duration:1s;}
    .hat_ani{animation-name:hatAni; animation-direction: normal; animation-fill-mode: forwards; animation-duration:2s; animation-iteration-count: infinite; animation-timing-function: linear;}
@keyframes armAni{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(-90deg);}
}
@keyframes armAniback{
        0%{transform:rotate(-90deg);}
        100%{transform:rotate(0deg);}
}
@keyframes elbowAni{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(-250deg);}
}
@keyframes elbowAniback{
    0%{transform:rotate(-200deg);}
    100%{transform:rotate(0deg);}
}
@keyframes hatAni{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/*********반응형************/

 @media screen and (max-width:1190px){
     html, body{font-size:11px;}
     .gear1{width:120%;}
}
@media screen and (max-width:992px) {
    html, body{font-size:8px;}
    .robot{padding-top:20%;}
    
}
@media screen and (max-width:767px) {
    html, body{font-size:7px;}
    .robot{padding-top:30%;}
}
@media screen and (max-width:479px) {
    html, body{font-size:4px;}
    .robot{padding-top:40%;}
}

/**********about me 상세페이지**************/
.contentAni{transition-delay: 1s; transition: width 0.5s ease, height 0.5s ease;
    width:60rem;}
.about-me{display:none; padding:1rem;}
.about-me > ul{margin-bottom:3rem;}
.about-me > ul li:not(:first-child){font-size:1rem;}

