@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.ab{position: absolute;}
.re{position: relative;}
body{background-color:#8ce0cd; font-size: 1rem; max-width:767px;width:100%; height:100%;background-image: url("../images/guide-line.png"); background-size: cover;}
.wrap{width:100%; height:100%;}
.nav{width:100%; }
.logo{width:20%;float:left; padding:2rem 1rem;}
.logo img{width:100%}
.bg{width:100%; height:80%; bottom:0; overflow:hidden;}
.bg img{position: absolute; bottom:-1%; left:50%; transform: translateX(-50%); width:70%;}

.navs {width:60%; float:right;}
.navs > li {float:right; padding:1.2em; font-size:1.4rem; color:#fff; font-weight: 600;}
.navs > li:hover{background-color:#aaa}
.navs_mo {float:right; display:none;}
.navs_mo {width:80px; height:80px; line-height:80px; text-align:center; color:#fff; font-size:2rem;}
.navs_mo > ul {position:absolute; width:100%;; left:0; top:80px; z-index:55555;}
.navs_mo > ul > li {padding:0.5em; background-color:rgb(0,0,0,0.8);border-bottom:1px solid#aaa;}

@media screen and (max-width:650px) {
	.navs {display:none;}
	.navs_mo {display:block;}
}
