@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.ab{position: absolute;}
.re{position: relative;}
body{background-color:#8ce0cd; font-size: 1.5rem;width:100%; height:100%;font-family: 'Noto Sans KR', sans-serif;}
.wrap{width:100%; height:100%;background-image: url("../images/guide-line.png"); background-size: cover;}
.nav{width:100%; }
.logo{width:20%;float:left; padding:2rem 1rem;}
.logo img{width:100%}
.bg{width:100%; height:80%; bottom:0; overflow:hidden;}
.bg img{position: absolute; bottom:-1%; left:50%; transform: translateX(-50%); width:60%;}

.navs_mo {float:right;}
.navs_mo {width:80px; height:80px; line-height:80px; text-align:center; color:#fff; font-size:3rem;}
.navs_mo > ul {position:absolute; width:100%;; left:0; top:80px; z-index:55555;}
.navs_mo > ul > li {padding:0.5em; background-color:rgb(0,0,0,0.8);border-bottom:1px solid#aaa;}

.about-me{display:none; padding:3rem; background-color:#fff; width:100%; height:100%;}
.btn{width:100%;text-align: center; padding:8% 0;font-family: 'Libre Baskerville', serif; font-size: 3rem; color:#555;}
.fa-window-close{color:#b80023; font-size: 4rem; float:right; padding-right:10%;}
.text{width:80%; margin:5% auto; padding:15%; border:1px solid#aaa;}
.text > ul{margin:15% auto;}
.text > ul li:first-child{font-family: 'Libre Baskerville', serif;  font-size:3rem; padding:10% 0; font-weight: 500; color:#333;}
.text > ul li:not(:first-child){font-size:1.5rem; letter-spacing: 0.1em;}
.skill{position: relative; background-color: #fff;width:70%; height:80%; z-index:111111; display:block; margin:10% auto;}
.skill .blank1{width:26%; top:0;left:0;}
.skill .ps{width:26%; top:0;left:29%;}
.skill .java{width:26%; top:20%;left:14.5%;}
.skill .ajax{width:26%; top:20%;left:44%;}
.skill .css{width:26%; top:20%;left:73%;}
.skill .html{width:26%; top:41%;left:0;}
.skill .ai{width:26%; top:41%;left:29%;}
.skill .jquery{width:26%; top:41%;left:59%;}
.skill .blank2{width:26%; top:62%;left:14.5%;}
.skill .boot{width:26%; top:62%;left:44%;}
.skill .blank3{width:26%; top:83%;left:30%;}


@media screen and (max-width:800px) {
	.skill{ position: relative; background-color: #fff;width:70%; height:60%;}
	.text > ul li:first-child{font-size:2rem;}

}

@media screen and (max-width:480px) {
    .skill{ position: relative; background-color: #fff;width:100%; height:50%;}
	.bg img{width:80%;}
	.btn{font-size: 2rem;}
	.fa-window-close{ font-size: 2rem;}
	.text > ul li:first-child{font-size:1.5rem;}
	.text > ul li:not(:first-child){font-size:1rem; letter-spacing: 0.1em;}



}
