img{max-width:600px; }

.bg{width:100%; height:100%; background-image:url("../images/bg.PNG"); background-size: cover; overflow: hidden;}
.nav{width:100%; background-color:#000; border-bottom:1px solid#6700bb;}
.wrap{width:80%;height:100%;margin:auto; margin-top:3.5rem;}
.menu{padding:0.5rem 0; margin:auto;}
.menu li{float:right;}
.menu li a{ color:#fff; font-size: 2rem; font-weight: bold; padding:1rem;}
.menu li a:hover{color:#52ddbf;}
.menu li:first-child{float:left; width:9rem;}
.site{width:19.2%; height:80%; margin-left:1%; float:left; background-color:rgba(6, 14, 41, 0.8); position: relative; overflow: hidden; } 
.site01{margin-left:0;background-image:url("../images/web/sneaker.jpg"); background-size:cover;background-position-x:2%;background-repeat:no-repeat;}
.navi{padding-top:1rem;}
.site-bg{width:100%; height:100%; background-color:rgba(6, 14, 41, 0.8)}
.nike{position:absolute;top:28%; right:-30%; transform: rotate(-45deg);}
.text{width:100%;height:100%; background-color:rgba(0, 0, 0, 0.8);position: absolute; top:0; right:100%;}
.txt{color:#fff; position: absolute; width:80%; margin:0 auto;left:50%; top:50%; transform: translate(-50%, -50%);display: none; cursor: pointer;}
.txt:hover{color:#52ddbf}
.txt h1{font-weight: bold; padding:0.5rem 0; border-bottom:1px solid#aaa; margin-bottom:2rem;}
.txt p{padding-top:0.5rem;}


.site02{background-image:url("../images/web/robot.jpg"); background-repeat:no-repeat; background-size:cover; background-position-x:55%;}
.lego{position:absolute;bottom:0; right:-15%; width:100%}
.site03{background-image:url("../images/web/uniqlo5.jpg"); background-repeat:no-repeat; background-size:cover; background-position-x:90%; }

.site04{background-image:url("../images/web/tour.jpg"); background-repeat:no-repeat; background-size:cover; background-position-x:55%;}
